= form_for @jobs_category do |f|
  - if @jobs_category.errors.any?
    #error_explanation
      %h2= "#{pluralize(@jobs_category.errors.count, "error")} prohibited this jobs_category from being saved:"
      %ul
        - @jobs_category.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
