.page-header
  %h1= t('admin.categories.title')

%table.table.table-striped
  %tr
    %th= attribute_name_for Category, :name
    %th= attribute_name_for Category, :created_at
    %th= t('actions.title')

  - @categories.each do |category|
    %tr
      %td= category.name
      %td= category.created_at
      %td
        .btn-group.btn-group-sm
          = link_to t('actions.show'), [:admin,category], class: 'btn btn-default'
          = link_to t('actions.edit'), edit_admin_category_path(category), class: 'btn btn-default'
          = link_to t('actions.destroy'), [:admin,category], :method => :delete, :data => { :confirm => t('actions.confirm_destroy') }, class: 'btn btn-default'

%br

= link_to t('admin.categories.new'), new_admin_category_path, class: 'btn btn-primary'
