%p#notice= notice

%h1= t('actions.show')

= show_attributes @category, :name, :created_at

= link_to t('actions.edit'), edit_admin_category_path(@category)
\|
= link_to t('actions.back'), admin_categories_path
